# Compiled source #
###################
*.dcu
*.obj
*.exe

# Backup files    #
###################
*.~*

# IDE Files	  #
###################
*.dproj.local
*.groupproj.local
*.identcache
*.dsk

# Output Folders  #
###################
/Win32
/Win64

